@model PathToJannah.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        #login-div{
            position:absolute;
            left:40%;
            top:40%;
            border:1px solid #ccc;
            padding:10px 10px;
        }
        .field-validation-error{
            color:red;
        }
        body {
            background-color: #9fdfbf;
        }
    </style>
</head>
<body>
    <div id="login-div">
        @using(Html.BeginForm("Authorize","Login",FormMethod.Post)) { 
        <table>
            <tr>
                <td></td>
                <td style="text-decoration:solid;"> Login to Path to Jannah </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Email)
                </td>
                <td>
                    @Html.EditorFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.Email)</td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Pass)
                </td>
                <td>
                    @Html.EditorFor(model => model.Pass)
                </td>
            </tr>

            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.Pass)</td>
            </tr>

            <tr>
                <td colspan="2">
                    <label class="field-validation-error">@Html.DisplayFor(model =>model.LoginErrorMessage)</label>

                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input type="submit" name="name" value="Login" />
                    <input type="reset" name="name" value="Clear" />
                </td>
            </tr>


        </table>
        }

    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
