@model IEnumerable<PathToJannah.Models.Blog>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Post)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.U_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Post)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.U_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.P_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.P_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.P_ID })
        </td>
    </tr>
}

</table>
